[submodule "tpope/vim-abolish"]
	path = pack/3rd/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "tpope/vim-commentary"]
	path = pack/3rd/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "tpope/vim-dispatch"]
	path = pack/3rd/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "tpope/vim-fugitive"]
	path = pack/3rd/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "tpope/vim-projectionist"]
	path = pack/3rd/start/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "tpope/vim-repeat"]
	path = pack/3rd/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "tpope/vim-surround"]
	path = pack/3rd/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "tpope/vim-markdown"]
	path = pack/3rd/start/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "cormacrelf/vim-colors-github"]
	path = pack/colors/opt/github
	url = https://github.com/cormacrelf/vim-colors-github.git
[submodule "morhetz/gruvbox"]
	path = pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "cocopon/iceberg.vim"]
	path = pack/colors/opt/iceberg
	url = https://github.com/cocopon/iceberg.vim
[submodule "junegunn/fzf"]
	path = pack/fzf/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "junegunn/fzf.vim"]
	path = pack/fzf/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "akkerman/vim-jasmine"]
	path = pack/javascript/opt/jasmine
	url = https://github.com/akkerman/vim-jasmine.git
[submodule "pangloss/vim-javascript"]
	path = pack/javascript/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "mxw/vim-jsx"]
	path = pack/javascript/start/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "moll/vim-node"]
	path = pack/javascript/start/node
	url = https://github.com/moll/vim-node.git
[submodule "ternjs/tern_for_vim"]
	path = pack/javascript/opt/tern
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "tmux-plugins/vim-tmux"]
	path = pack/tmux/opt/tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "christoomey/vim-tmux-navigator"]
	path = pack/tmux/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "honza/dockerfile"]
	path = pack/syntax/start/dockerfile
	url = https://github.com/honza/dockerfile.vim.git
[submodule "chr4/nginx"]
	path = pack/syntax/start/nginx
	url = https://github.com/chr4/nginx.vim.git
[submodule "francoiscabrol/ranger.vim"]
	path = pack/files/start/ranger
	url = https://github.com/francoiscabrol/ranger.vim
[submodule "tpope/vim-sensible"]
	path = pack/3rd/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/syntax/start/i3config"]
	path = pack/syntax/start/i3config
	url = https://github.com/mboughaba/i3config.vim.git
[submodule "pack/textobjects/start/tabular"]
	path = pack/textobjects/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/javascript/start/ale"]
	path = pack/javascript/start/ale
	url = https://github.com/w0rp/ale.git
